@media only screen and (max-width:767px) {
    .footer {
        background-color: $how-its-made-background;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0 auto;

        &__grid {
            list-style: none;
            display: flex;
            justify-content: flex-end;
            gap: 28.24px;
            margin-top: 43px;
            padding-right: 20.53px;
        }

        &__link:hover,
        &__link:focus {
            outline: none;
        }

        &__icon {
            background-color: $icon-pink;
            border-radius: 50%;
            fill: $white;

            &:hover,
            &:focus {
                background-color: $red-1;
            }
        }

        &-contact {
            font-family: $standard-font;
            font-style: normal;
            font-weight: map-get($font-weight, 'bold');
            font-size: map-get($font-size, 'small');
            line-height: 186%;
            text-align: right;
            color: $black-2;
            margin-right: 20px;
            margin-top: 46px;

            &__number {
                color: $red-1;
            }
        }

        &-copyright {
            border-top: 1px solid $lightgrey;
            margin-top: 43px;
            min-height: 89px;

            &__paragraph--1 {
                font-family: $standard-font;
                font-weight: map-get($font-weight, 'bold');
                font-size: map-get($font-size, 'standard');
                line-height: 1.5;
                text-align: center;
                margin-top: 22px;
                color: $grey;
            }

            &__paragraph--2 {
                font-family: $standard-font;
                font-weight: map-get($font-weight, 'bold');
                font-size: map-get($font-size, 'standard');
                line-height: 1.5;
                text-align: center;
                color: $grey;
            }
        }
    }
}

@media screen and (max-width:767px) {
    .heading-footer--first {
        font-family: $header-font;
        font-size: map-get($font-size, 'products-before');
        line-height: 1.167;
        text-transform: uppercase;
        color: $dark-pink;
        padding-left: 22px;
        margin-top: 113px;
    }

    .heading-footer--second {
        font-family: $header-font;
        font-size: map-get($font-size, 'products-header');
        line-height: 1.147;
        letter-spacing: map-get($letter-spacing, 'standard');
        text-transform: uppercase;
        padding-left: 22px;
        margin-top: 17px;
        color: $red-1;
    }

    .heading-gap {
        display: block;
    }
    /* heading gap mozna wyłączyć w innych wersjach np. desktop (z br byłby problem) */
}