.background-gallery {
  background-image: linear-gradient(
    to bottom,
    $bottom-section-background 0%,
    $bottom-section-background 40%,
    $white 40%,
    $white 100%
  );
}
.gallery {
  &__heading {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .gallery {
    margin-bottom: 121px;
  }
}
