//COLORS

$body-background: #e5e5e5;
$pink: #ffb8ca;
$dark-pink: #ffa5ba;
$dark-pink-2: #FEA5BB;
$white: #fff;
$red-1: #d41443;
$red-2: #d41342;
$yellow: #f0d1a5;
$green: #c2e297;
$how-its-made-background: #fff5f6;
$dark: #000000;
$black: #212121;
$grey: #907e82;
$bottom-section-background: #fff5f6;
$grey-border: #E1E1E1;

//FONTS

$standard-font: 'DM Sans', sans-serif;
$header-font: 'Titan One', sans-serif;

$font-weight: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);
$font-size: (
  'small': 12px,
  'standard': 14px,
  'enlarged': 16px,
  'smaller-header': 18px,
  'review-signature': 20px,
  'smaller-section-header': 30px,
  'bigger-header': 34px,
  'hero-text': 38px,
  'hero-numbers': 46px,
  'section-header': 58px,
);
$letter-spacing: (
  'standard': 0.04em,
  'header': 0.06em,
  'links': 0.02em,
);


//PRE SETTINGS

* {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-style: normal;
}

*, *::after, *::before {
  box-sizing: border-box;
}

body {
  color: $black;
  font-family: $standard-font;
  font-size: map-get($font-size, standard);
}

//RESPONSIVE SETTINGS

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
    margin: 0 auto;
  }
}
