//COLORS

$body-background: #e5e5e5;
$pink: #ffb8ca;
$dark-pink: #ffa5ba;
$white: #fff;
$red-1: #d41443;
$red-2: #d41342;
$yellow: #f0d1a5;
$green: #c2e297;
$how-its-made-background: #fff5f6;
$black: #212121;
$grey: #907e82;
$lightgrey: #E1E1E1;
$bottom-section-background: #fff5f6;
$pink-shadow: rgba(212, 20, 67, 0.1);
$button-hover: #ECEBEB;

//FONTS

$standard-font: 'DM Sans', sans-serif;
$header-font: 'Titan One', sans-serif;

$font-weight: (
  'regular': 400,
  'medium': 500,
  'bold': 700,
);
$font-size: (
  'standard': 14px,
  'enlarged': 16px,
  'review-signature': 20px,
  'smaller-section-header': 30px,
  'hero-text': 38px,
  'hero-numbers': 46px,
  'section-header': 58px,
);
$letter-spacing: (
  'standard': 0.04em,
  'header': 0.06em,
  'links': 0.02em,
);
