<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nagłówek strony</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Titan+One&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/sass/main.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__background">
        <section class="header__container container">
          <a class="header__logo" href="./index.html"
            ><img src="/src/images/logo1.png" alt="Website logo"
          /></a>
          <div>
            <svg
              class="header__svg js-open-menu"
              width="20"
              height="14"
              viewBox="0 0 20 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 1H20" stroke="#D41443" />
              <path d="M0 7H20" stroke="#D41443" />
              <path d="M0 13H20" stroke="#D41443" />
            </svg>
          </div>
          <nav class="nav">
            <ul class="nav__list">
              <li class="nav__list-item nav__list-color">Home</li>
              <li class="nav__list-item">About us</li>
              <li class="nav__list-item">How it's made?</li>
              <li class="nav__list-item">Our products</li>
              <li class="nav__list-item">Contact</li>
            </ul>
          </nav>
          <div class="header__button">
            <button class="header__button-item" type="button">Buy now ></button>
          </div>
        </section>
        <section class="hero">
          <div class="hero__container container">
            <h2 class="hero__title">
              ICE CREAM MADE WITH <span class="hero__title-color">PASSION</span>
            </h2>
            <div class="hero__buttons">
              <button class="hero__button" type="button">Products</button>
              <button class="hero__button hero__button-color" type="button">How it's made?</button>
            </div>
            <div>
              <p class="hero__label">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
              </p>
            </div>
          </div>
          <div class="hero__item">
            <div>
              <p class="hero__item-value">16</p>
              <p class="hero__item-name">cafes</p>
            </div>
            <div>
              <p class="hero__item-value">23</p>
              <p class="hero__item-name">food trucks</p>
            </div>
          </div>
        </section>
      </div>
    </header>
    <div class="js-menu-container">
      <svg
        class="js-close-menu mobile__menu-svg"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path d="M1.25928 1L14.7408 15" stroke="white" />
        <path d="M1 14.7407L15 1.25924" stroke="white" />
      </svg>
      <button class="mobile__menu-button" type="button">Buy now ></button>
    </div>
    <script src="mobile-menu.js"></script>
  </body>
</html>
