<footer class="footer">
        <div class="footer__div">
            <h1 class="heading--first--footer">homemade ice cream <br />made <br /></h1>
            <h2 class="heading--sec--footer">with <br />passion</h2>
            <ul class="footer__grid">
                <li>
                    <a class="footer__link" href="https://github.com">
                        <svg class="footer__icon" width="32" height="32">
                            <use href="./icons.svg#icon-git" width="18.82" height="18.82" x="6.59" y="6.59"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="footer__link" href="https://web.telegram.org/k/">
                        <svg class="footer__icon" width="32" height="32">
                            <use href="../icons.svg#icon-telegram" width="19.2" height="14.93" x="5.33" y="8.53"></use>
                        </svg>
                    </a>
                </li>
                <li>
                    <a class="footer__link"
                        href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&cad=rja&uact=8&ved=2ahUKEwju4-zA69z6AhUo-yoKHT7CB5cQFnoECAoQAQ&url=https%3A%2F%2Fwww.facebook.com%2Flogin%2F&usg=AOvVaw2NEj8NwnxhOue64pSijk7e">
                        <svg class="footer__icon" width="32" height="32">
                            <use href="../icons.svg#icon-facebook" width="8.8" height="19.2" x="12" y="6.4"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer__contact">Feel free to contact <a class="footer__contact__number"
                    href="tel:+61-(0)-383-766-284">+61 (0) 383 766 284</a></p>
            <div class="footer__copyright">
                <p class="footer__copyright__paragraph">© 2019 - IceCream.
                    <br />All Rights Reserved.
                </p>
            </div>
        </div>
    </footer>

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js"
        integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA=="
        crossorigin="anonymous"></script>